<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/cars/update}" th:object="${car}" method="post">
        <p>ID: <input type="text" th:field="*{id}" /></p>
        <p>Make: <input type="text" th:field="*{make}" /></p>
        <p>Registration: <input type="text" th:field="*{registration}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>